.die-container {
    display: grid;
    grid-template-columns: 100px;
    grid-auto-rows: minmax(100px, auto); /*Change to 100px when removing die label */
    grid-gap: 20px;
    text-align: center;
}

.die {
    font-size: 75px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 10px;   
}
